html{
    margin: 0;
    padding: 0;
    font-size: 15px;
}


/* HEADER-MENU */
header{
    height:10vh;
}
header ul{
    list-style: none;   
}

header ul li{
    text-decoration: none;
    margin: 3px 5px;    
}

header ul li a{
    color:lightgray;
}

header ul li a:hover{
    text-decoration: none;
}

/* MAIN-(HOME) */
main{
    height: 90vh;
    background-color: #e9ecef;
}

main h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top:3rem;
}

.content p{
    padding:0 2rem;
}

.content-2 a{
    text-align: center;
}

/* Article-(About Us) */

article h1{
    color:blueviolet;
    font-family: 'Open Sans', sans-serif;
}

/* Container- (Products) */

section h1{
 color:blueviolet;    
}

.container .card-body .price{
    font-size: 1rem;
}
