/*fontawesomedan aldık*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
/*googlefontsdan aldık*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Roboto:wght@400;700&family=Smokum&display=swap');

/*baska bir css dosyasını buradan çağırabiliriz*/
@import url("buttons.css");
@import url("base.css");

* {
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  main{
    /* margin-top: 50px; */
    /* margin-top: 4rem; */
    /*burada main'i tüm görünür alanı 100vh kaplamasın ve footer dışarı atmasın diye navbar ve footer 138px'i çıkardık*/
    min-height: calc(100vh - 138px);
  }

  #showcase {
    background-image:linear-gradient(to bottom, rgba(252,153,124,0.2),rgba(226, 65, 17, 0.2));
    background-image: url("bg.jpeg"); 
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    width: 100%;
    height: 40vh;
    position:relative;   
  }

  #showcase .content{
    position:absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%,-50%);
   margin:0;
   color:#fff;
   /* font-size: 20px;     */
   background: rgba(46,76,109,0.3);
   /* padding:20px; */
   padding: 2rem;
   width: 60%;
   /* border-radius: 10px;; */
   border-radius: 1rem;
   
 }

  @media (min-width:576px) and (max-width:767px) {
    #showcase{
       height: 50vh;
      }
     
    }

    @media (min-width:768px) and (max-width:991px) {
      #showcase{
         height: 60vh;
        }
       
      }

      @media (min-width:992px) and (max-width:1199px) {
        #showcase{
          height: 70vh;
         }  
        
    }
  

  .main-header {
    background-color: #343434;
    /* padding: 8px 16px; */
    padding: .8rem 1.6rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
  }

  .main-nav {
    display: inline-block;
    /* width: calc(100% - 100px); */
    width: calc(100% - 10rem);
    text-align: right;
  }
  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav__item {
    display: inline-block;
    margin: 0 1rem;
  }

  .main-nav__item:last-child{
    display: none;
  }

  @media (max-width:600px){
    .main-nav__item{
      display: none;
    }
    .main-nav__item:last-child{
      display: block;
    }
    
    .responsive .main-nav__item{
        display: block;
    }

    .responsive .main-nav__item:last-child{
      position:absolute;
      right: 40px;
      top:6px;
    }

    .responsive .main-nav{
      display: block;
      text-align: left;
      margin:1rem 0;
    }
  }

  .main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }

  .main-nav__item a {
    text-decoration: none;
    color: #fff;
  }

 
  #how-it-works {
    padding: 1rem;
    text-align: center;
  }

  #how-it-works h2{
    color:#ff2317;
    font-size: 3rem;
    font-weight: 600;
  }


 

  .icon-box h3{
    color:#ff2317;
    font-size: 2.6rem;

  }

  .icon-box i{
    color:#FC997C;
  }

  .features__left{
    background-image:linear-gradient(to bottom, rgba(252,153,124,0.2),rgba(226, 65, 17, 0.2));
    background:url("features.jpeg");
    background-size: cover;
  }

  .features__right{
  background-color: #edf5ed;
  padding: 3rem;
  vertical-align: top;
  }

  .features__left , .features__right{
    height: 35rem;
  }

  .features__right h3{
      font-size: 3rem;
  }


  .section-title{
    text-align: center;
    margin-bottom: 4rem;
    color:#3e4555;
    font-size: 3rem;
  }

  .plan{        
    text-align: center;
    padding: 5px;
    /* margin:2px; */
    }

  .plan__badge{
    background-color: #fff;
    color:#FC997C;
    padding: 8px;
    border-radius: 5px;
  }

  .recommended_plan{
    color:#fff;
    background-color: #2e4c6d !important;
  }

  .inner-plan{
    background-color: #edf5f7;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px  0px rgba(100,100,111,0.2);
    transition: box-shadow .6s;
  }

  .inner-plan:hover{
    box-shadow: 0px 10px 20px  0px rgba(100,100,111,0.6);
  }

  .plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .plan__features li{
    margin:6px 0;
  }

  /*ekran 768px ve üstü olan görünümde bu class'a ait elementlere bunları uygula*/
  @media (min-width:768px) {
  .plan--featured{
    position: relative;
    top:-20px;
  }
}

  #backtotop{
    position: fixed;
    bottom:10px;
    right:10px;
  }

  #backtotop i{
    color:#2e4c6d;
    font-size: 45px;
    transition: color .6s;
  }

  #backtotop i:hover{
    color:#fb6537;
  }

  .counter{
      background:linear-gradient(to bottom,#fc997c 0%,#fc5b69 100%);
      text-align: center;
      padding: 50px;
  }

  .counter__item{
      font-size:30px;
      font-weight: 500;
      color:#fff;
  }
  .counter h4{
      margin:0;
      color:#fff;
  }

  .card{
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 10px 10px rgba(52,58,61,0.1);
      /* position: relative;
      top:0; */
      transition: all .3s;
  }
  .card:hover{
      /* top:-10px; */
      transform: translateY(-10px);
  }

 

  .card-image{
      max-height: 350px;
  }
  .card-body{
      padding: 20px;
  }

  .card-container{
      padding: 10px;
  }

  footer{
      background-color: #2e4c6d;
      padding: 30px;
      /* margin-top:30px;

      position: relative;
      bottom:-200px; */
  }

  footer a{
      color:#fff;
      font-size: 18px;
      text-decoration: none;
  }

  footer ul{
      margin:0;
      padding: 0;
  }

  footer ul li{
      list-style-type: none;
      display: inline-block;
      margin-left:5px ;
  }

 .social-links{
    text-align: right; 
 } 

 .fab, .fas, .far  {
     padding: 10px;
     /* font-size: 25px; */
     border-radius: 50%;
 }

 .fab:hover{
     opacity: 0.7;
 }
 .fa-facebook{
     background-color: #3b5998;
     color:#fff;
 }

 .fa-twitter{
    background-color: #55acee;
    color:#fff;
 }
 .fa-instagram{
    background-color: #125688;
    color:#fff;
 }